{% extends "wiki/base_site.html" %}
{% load sekizai_tags i18n wiki_tags static %}
{% block wiki_site_title %} - Mirafra DevOps Wiki{% endblock %}

{% block wiki_header_branding %}
<a class="navbar-brand" href="https://mirafra.com"><img alt="Revue" width="150" height="40" style="margin-top:-6%;vertical-align: middle;" src="https://mirafra.com/wp-content/uploads/2016/05/mira_logo.png"></a>
{% endblock %}

{% block wiki_header_navlinks %}
<ul class="nav navbar-nav">
  <li class="active"><a href="{% url 'wiki:root' %}">Wiki</a></li>
</ul>
{% endblock %}

{% block wiki_footer_logo %}
<a href="https://mirafra.com" class="pull-right"><img src="https://mirafra.com/wp-content/uploads/2016/05/mira_logo.png" /></a>
{% endblock %}
{% block wiki_footer_prepend %}
{% endblock %}
{% blocktrans %}
Copyright and Powered by <a href="https://mirafra.com">Mirafra DevOps</a>. Let knowledge be the cure.
{% endblocktrans %}


